html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.app-header {
  width: 100%;
  height: $headerHeight;
  background-color: $headerBackgroundColor;
}

.app-container {
  width: 100%;
  height: calc(100% - ($headerHeight + $footerHeight));
  background-color: $appContainerBackgroundColor;
  overflow-y: auto;
}

.app-footer {
  width: 100%;
  height: $footerHeight;
  position: fixed;
  left: 0;
  bottom: 0;
}
